h2 {
  font-family: 'Cabin Sketch', cursive;
}

h4 {
font-family: 'News Cycle', sans-serif;
}

.nav-container {
  position: initial;
  top: 0;
  left: 0;
  width: 100%;
  background: honeydew;
  color: black;
  height: 61px;
  z-index: 2;
  border-bottom: 1px solid #ccc;
}
nav ul {
  float: right;
}

nav li {
  float: left;
  width: auto;
}

ul {
  list-style: none;
  display: inline-flex;
}

nav ul a {
  color: gray;
  padding: 25px 10px;
  margin-right: 40px;
  font-size: 21px;
  text-decoration: none;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#hero {
  background: url(../images/jabiru.jpg) no-repeat top left;
  background-size: cover;
  height: 1999px;
  position: relative;
  z-index: 1;
}

#hero h1 {
  color: white;
  font-size: 40px;
  letter-spacing: 3px;
  margin-top: -145px;
  margin-left: 321px;
}

#hero .middle-img {
  border-radius: 50%;
    height: 200px;
    width: 240px;
    border: 1px gray solid;
    margin: 40px;
}

.today {
  color: white;
  font-size: 24px;
  text-align: center;
  font-size: 45px;
    padding: 182px 61px;
    margin-left: 135px;
}
